p {
    background: #f2f2f2;
    font-family: Arial;
}

h1 {
    width: 700px;
    background: white;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #007bff;
}

h2 {
    background: #007bff;
    color: white;
    padding: 8px;
}

p {
    font-size: 16px;
}

ul {
    list-style: square;
}

li {
    font-size: 15px;
    margin: 5px 0;
}

hr {
    border: 1px solid #007bff;
}